.main{
    max-width: 1250px;
    margin: 30px auto;
    padding: 0 15px;
    color: var(--color-text);

    @include large-screen(){
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
     }

    //---------------- MAIN__PROFIL 

    &__profil{
        background-color: var(--color-section);
        margin-top: 60px;
        @include boxShadow-section();
        padding-bottom: 30px;

        @include large-screen(){
            grid-row: 1/3;
            margin-top: 30px;
        }

        &__header > div:first-child{
            position: relative;
            background-color: var(--color-bg-profil);
            padding: 30px 0;
            margin-bottom: 30px;

            & div{
                width: 60%;
                margin: auto;
            }

            & img{
                border-radius: 50%;
                padding: 4px;
                border: 1px solid var(--color-primary);
                &:hover{
                    transform: scale(1.05);
                    transition: 1s;
                }
            }

            & h1{
                position: absolute;
                bottom: -18px;
                color: var(--color-primary);
                font-weight: lighter;
                left: 50%;
                transform: translate(-50%);
                white-space: nowrap;
            }

        }

        &__header > div:not(div:first-child){
            padding: 0 10px;
            display: flex;
            gap: 15px;
            margin-top: 15px;

            & .icon-profil{
                width: 25px;
                height: 25px;
                color: var(--color-primary);
                flex: none;
            }

        }

        &__competences{
            padding: 10px;
            margin-top: 15px;

            .competences__icon{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                margin-top: 10px;

                div{
                    text-align: center;

                    p{
                        margin-top: 0;  
                    }
                }

                img{
                    width: 80px;
                }
            }

            & h3{
                border-top: 1px solid var(--bg-competences);
                padding-top: 40px;
                display: flex;
                gap: 20px;
                font-size: 1em;
            }

            // & > div{
            //     background-color: var(--bg-competences);
            //     border-radius: 20px;
            //     text-align: center;
            // }

            // & .html{
            //     width: 80%;
            //     @include niveau();
            //     height: 25px;
            // }

            // & .css{
            //     width: 80%;
            //     @include niveau();
            //     height: 25px;
            // }

            // & .sass{
            //     width: 60%;
            //     @include niveau();
            //     height: 25px;
            // }

            // & .git{
            //     width: 60%;
            //     @include niveau();
            //     height: 25px;
            // }

            // & .javascript{
            //     width: 50%;
            //     @include niveau();
            //     color: white;
            // }

            // & .php{
            //     width: 50%;
            //     @include niveau();
            //     color: white;
            // }


        }

        &__langues{
            padding: 0 20px;
            margin-top: 70px;

            & h3{
                display: flex;
                gap: 20px;
            }

            & > div{
                background-color: var(--bg-competences);
                border-radius: 20px;
            }

            & .francais{
                width: 100%;
                @include niveau();
                height: 25px;
            }

            & .creole{
                width: 100%;
                @include niveau();
                height: 25px;
            }

            & .espagnol{
                width: 90%;
                @include niveau();
                height: 25px;
            }

            & .anglais{
                width: 30%;
                @include niveau();
                height: 25px;
                color: white;
                text-align: center;
            }

        }

    }

    & .icon-comp-langues{
        width: 20px;
        height: 20px;
        align-self: center;
        color: var(--color-primary);
        flex: none;
    }

    & p{
        margin-bottom: 0;
    }


    //---------------- MAIN__EXPPROFESSIONNELLES 

    &__expProfessionnelles{
        background-color: var(--color-section);
        padding: 47px 10px;
        margin-top: 30px;
        @include boxShadow-section();

        @include large-screen(){
            margin-top: 0;
         }

        & h2{
            display: flex;
            margin-top: 0;
            gap: 20px;
            align-items: center;
            font-size: 1.2em;
            margin-bottom: 30px;
        }

        & > div:nth-child(2){
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid var(--bg-competences);
        }

    }

    & .icon-exp-education{
        width: 25px;
        height: 25px;
        color: var(--color-primary);
        transform: translateY(-3px);
        flex: none;
    }

    & h3{
        font-size: 1em;
    }

    & span{
        display: flex;
        gap: 20px;
        align-items: center;
        color: var(--color-primary);

        & .icon-calendar{
            width: 15px;
            height: 15px;
        }

    }
    

    //---------------- MAIN__EDUCATION 

    &__education{
        background-color: var(--color-section);
        padding: 45px 10px;
        margin-top: 30px;
        @include boxShadow-section();

        & h2{
            display: flex;
            margin-top: 0;
            gap: 20px;
            align-items: center;
            font-size: 1.2em;
            margin-bottom: 30px;
        }

        & > div:not(div:nth-child(4)){
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid var(--bg-competences);
        }

        & .aujourdhui{
            background-color: var(--color-primary);
            color: white;
            display: inline-block;
            padding: 2px 6px;
            border-radius: 5px;
        }

    }
   
}
