.main{
    max-width: 1250px;
    margin: 30px auto;
    padding: 0 15px;
    color: $color-text;

    @include large-screen(){
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
     }

    //---------------- MAIN__PROFIL 

    &__profil{
        background-color: $blanc;
        margin-top: 60px;
        @include boxShadow-section();
        padding-bottom: 30px;

        @include large-screen(){
            grid-row: 1/3;
            margin-top: 30px;
         }

        &__header > div:first-child{
            position: relative;
            background-color: $bg-profil;
            padding: 30px 0;
            margin-bottom: 30px;

            & div{
                width: 60%;
                margin: auto;
            }

            & img{
                border-radius: 50%;
                padding: 4px;
                border: 1px solid $color__primary;
                &:hover{
                    transform: scale(1.05);
                    transition: 1s;
                }
            }

            & h1{
                position: absolute;
                bottom: -18px;
                color: rgb(51, 50, 50);
                font-weight: lighter;
                left: 50%;
                transform: translate(-50%);
                white-space: nowrap;
            }

        }

        &__header > div:not(div:first-child){
            padding: 0 10px;
            display: flex;
            gap: 15px;
            margin-top: 15px;

            & .icon-profil{
                width: 25px;
                height: 25px;
                color: $color__primary;
                flex: none;
            }

        }

        &__competences{
            padding: 10px;
            margin-top: 15px;

            & h3{
                border-top: 1px solid $bg-profil;
                padding-top: 40px;
                display: flex;
                gap: 20px;
                font-size: 1em;
            }

            & > div{
                background-color: $bg-profil;
                border-radius: 20px;
                text-align: center;
            }

            & .html{
                width: 80%;
                @include niveau();
                height: 25px;
            }

            & .css{
                width: 80%;
                @include niveau();
                height: 25px;
            }

            & .sass{
                width: 60%;
                @include niveau();
                height: 25px;
            }

            & .git{
                width: 60%;
                @include niveau();
                height: 25px;
            }

            & .javascript{
                width: 50%;
                @include niveau();
                color: $blanc;
            }

            & .php{
                width: 50%;
                @include niveau();
                color: $blanc;
            }

            & .word{
                width: 60%;
                @include niveau();
                height: 25px;
            }

        }

        &__langues{
            padding: 0 20px;
            margin-top: 70px;

            & h3{
                display: flex;
                gap: 20px;
            }

            & > div{
                background-color: $bg-profil;
                border-radius: 20px;
            }

            & .francais{
                width: 100%;
                @include niveau();
                height: 25px;
            }

            & .creole{
                width: 100%;
                @include niveau();
                height: 25px;
            }

            & .espagnol{
                width: 90%;
                @include niveau();
                height: 25px;
            }

            & .anglais{
                width: 30%;
                @include niveau();
                height: 25px;
            }

        }

    }

    & .icon-comp-langues{
        width: 20px;
        height: 20px;
        align-self: center;
        color: $color__primary;
        flex: none;
    }

    & p{
        margin-bottom: 0;
    }


    //---------------- MAIN__EXPPROFESSIONNELLES 

    &__expProfessionnelles{
        background-color: $blanc;
        padding: 47px 10px;
        margin-top: 30px;
        @include boxShadow-section();

        @include large-screen(){
            margin-top: 0;
         }

        & h2{
            display: flex;
            margin-top: 0;
            gap: 20px;
            align-items: center;
            font-size: 1.2em;
            margin-bottom: 30px;
        }

        & > div:nth-child(2){
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid $bg-profil;
        }

    }

    & .icon-exp-education{
        width: 25px;
        height: 25px;
        color: $color__primary;
        transform: translateY(-3px);
        flex: none;
    }

    & h3{
        font-size: 1em;
    }

    & span{
        display: flex;
        gap: 20px;
        align-items: center;
        color: $color__primary;

        & .icon-calendar{
            width: 15px;
            height: 15px;
        }

    }
    

    //---------------- MAIN__EDUCATION 

    &__education{
        background-color: $blanc;
        padding: 45px 10px;
        margin-top: 30px;
        @include boxShadow-section();

        & h2{
            display: flex;
            margin-top: 0;
            gap: 20px;
            align-items: center;
            font-size: 1.2em;
            margin-bottom: 30px;
        }

        & > div:not(div:nth-child(4)){
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid $bg-profil;
        }

        & .aujourdhui{
            background-color: $color__primary;
            color: $blanc;
            display: inline-block;
            padding: 2px 6px;
            border-radius: 5px;
        }

    }
   
}
