@charset "UTF-8";
* {
  box-sizing: border-box;
}

:root {
  --section: white;
  --body: rgb(238, 238, 238);
  --text: rgb(84, 84, 84);
  --shadow: rgba(0, 0, 0, 0.51);
  --theme-red: rgb(187, 36, 44);
  --theme-red-alt: rgb(151, 36, 42);
  --theme-blue: rgb(68, 124, 187);
  --theme-blue-alt: rgb(56, 101, 152);
  --theme-green: #296;
  --theme-green-alt: rgb(28, 123, 82);
  --bg-competences: rgb(212, 212, 212);
  --bg-profil: rgb(212, 212, 212);
  --color-section: var(--section);
  --color-body: var(--body);
  --color-text: var(--text);
  --color-shadow: var(--shadow);
  --color-primary: var(--theme-red);
  --color-primary-alt: var(--theme-red-alt);
  --color-bg-profil: var(--bg-profil);
}

.theme-dark {
  --color-section: black;
  --color-body: rgba(16, 16, 16, 0.89);
  --color-text: rgba(255, 255, 255, 0.901);
  --color-shadow: rgba(97, 97, 97, 0.908);
  --color-bg-profil: rgb(31, 29, 29);
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-body);
}

ul {
  list-style: none;
  padding: 0;
}

@keyframes show_menu {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes animation_emoji {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
.header {
  padding: 7px 20px 0px;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header__logo {
  display: flex;
  gap: 0.7em;
}
.header__logo svg {
  width: 30px;
  height: 30px;
  color: white;
}
.header .right {
  display: flex;
  gap: 1em;
}
.header__menu {
  display: flex;
}
@media screen and (min-width: 790px) {
  .header__menu {
    display: none;
  }
}
.header__menu__nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: var(--color-primary);
  padding: 20px;
  transform: translate(200%);
  z-index: 2;
}
.header__menu__nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 60px;
}
.header__menu__nav ul a {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  font-size: 1.1em;
}
.header__menu__nav.show-modal {
  animation-name: show_menu;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.header__menu .bg-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.header__menu .bg-modal.show-modal {
  display: block;
}
.header .icon__open {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: white;
  transform: translateY(5px);
}
.header .icon__close {
  width: 20px;
  height: 18px;
  float: right;
  color: white;
  cursor: pointer;
}
.header a:hover {
  text-decoration: underline;
}
.header .projets-theme {
  display: flex;
  gap: 0.5em;
}
.header .projets-theme #theme-switch {
  color: white;
  transform: translateY(8%);
  cursor: pointer;
  font-size: 25px;
}
.header .projets-theme #theme-switch:hover {
  color: rgb(200, 200, 200);
  transition: color 0.6s ease;
}
.header .projets-theme .projets {
  display: none;
  align-self: center;
  transform: translateY(-10%);
}
.header .projets-theme .projets:hover {
  text-decoration: underline;
}
@media screen and (min-width: 790px) {
  .header .projets-theme .projets {
    display: inline-block;
    padding: 0px 10px 2px;
    color: white;
    text-decoration: none;
  }
}

.main {
  max-width: 1250px;
  margin: 30px auto;
  padding: 0 15px;
  color: var(--color-text);
}
@media screen and (min-width: 790px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
}
.main .container-left {
  background-color: var(--color-section);
  margin-top: 60px;
  box-shadow: 0px 0px 10px 0px var(--color-shadow);
  padding-bottom: 30px;
}
@media screen and (min-width: 790px) {
  .main .container-left {
    margin-top: 30px;
  }
}
.main .container-left .picture-profil {
  position: relative;
  background-color: var(--color-bg-profil);
  padding: 50px 0;
  margin-bottom: 30px;
}
.main .container-left .picture-profil div {
  width: 60%;
  margin: auto;
}
.main .container-left .picture-profil img {
  border-radius: 50%;
  padding: 4px;
  border: 1px solid var(--color-primary);
}
.main .container-left .picture-profil img:hover {
  transform: scale(1.05);
  transition: 1s;
}
.main .container-left .picture-profil h1 {
  position: absolute;
  bottom: -3px;
  color: var(--color-primary);
  font-weight: lighter;
  left: 50%;
  transform: translate(-50%);
  white-space: nowrap;
}
.main .container-left > div:not(div:first-child) {
  padding: 0 10px;
  display: flex;
  gap: 15px;
  margin-top: 15px;
}
.main .container-left > div:not(div:first-child) .icon-profil {
  width: 25px;
  height: 25px;
  color: var(--color-primary);
  flex: none;
}
.main .container-left .aPropos {
  margin-top: 50px;
  padding: 0 10px;
}
.main .container-left .aPropos h3 {
  font-size: 1.2em;
}
.main .container-left .softSkills {
  padding: 50px 10px 0;
}
.main .container-left .softSkills ul {
  padding: 0 1em;
}
.main .container-left .softSkills ul li::before {
  content: "•";
  color: var(--color-primary);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 1.2em;
}
.main .container-left .softSkills h2 {
  display: flex;
  margin-top: 0;
  gap: 20px;
  align-items: center;
  font-size: 1.2em;
}
.main .container-left .icon-titre {
  width: 25px;
  height: 25px;
  color: var(--color-primary);
  transform: translateY(-2px);
  flex: none;
}
.main .container-left .langues {
  padding: 50px 10px 0;
}
.main .container-left .langues h2 {
  display: flex;
  margin-top: 0;
  gap: 20px;
  align-items: center;
  font-size: 1.2em;
}
.main .container-left .langues > div {
  background-color: var(--bg-competences);
  border-radius: 20px;
}
.main .container-left .langues .francais {
  width: 100%;
  background-color: var(--color-primary);
  border-radius: 20px;
  height: 25px;
}
.main .container-left .langues .creole {
  width: 100%;
  background-color: var(--color-primary);
  border-radius: 20px;
  height: 25px;
}
.main .container-left .langues .espagnol {
  width: 90%;
  background-color: var(--color-primary);
  border-radius: 20px;
  height: 25px;
}
.main .container-left .langues .anglais {
  width: 30%;
  background-color: var(--color-primary);
  border-radius: 20px;
  height: 25px;
  color: white;
  text-align: center;
}
.main p {
  margin-bottom: 0;
}
.main .container-right {
  padding: 10px 10px;
  margin-top: 30px;
  box-shadow: 0px 0px 10px 0px var(--color-shadow);
  background-color: var(--color-section);
}
@media screen and (min-width: 790px) {
  .main .container-right {
    margin-top: 30px;
  }
}
.main .container-right .education {
  padding: 30px 0 0;
}
.main .container-right .education h2 {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 1.2em;
  margin-bottom: 30px;
}
.main .container-right .education > div:not(div:nth-child(4)) {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--bg-competences);
}
.main .container-right .education .aujourdhui {
  background-color: var(--color-primary);
  color: white;
  display: inline-block;
  padding: 2px 6px;
  border-radius: 5px;
}
.main .container-right .education ul {
  padding: 0 1em;
}
.main .container-right .education ul li::before {
  content: "•";
  color: var(--color-primary);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 1.2em;
}
.main .container-right .experiences {
  padding-top: 50px;
}
.main .container-right .experiences h2 {
  display: flex;
  margin-top: 0;
  gap: 20px;
  align-items: center;
  font-size: 1.2em;
  margin-bottom: 30px;
}
.main .container-right .experiences > div:nth-child(2) {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--bg-competences);
}
.main .container-right .icon-titre {
  width: 25px;
  height: 25px;
  color: var(--color-primary);
  transform: translateY(-2px);
  flex: none;
}
.main .container-right .competences {
  padding-top: 50px;
}
.main .container-right .competences .competences__icon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
}
@media screen and (min-width: 790px) {
  .main .container-right .competences .competences__icon {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
.main .container-right .competences .competences__icon div {
  text-align: center;
}
.main .container-right .competences .competences__icon div p {
  margin-top: 0;
}
.main .container-right .competences .competences__icon img {
  width: 40px;
}
.main .container-right .competences h2 {
  display: flex;
  margin-top: 0;
  gap: 20px;
  align-items: center;
  font-size: 1.2em;
}
.main h3 {
  font-size: 1em;
}
.main span {
  display: flex;
  gap: 20px;
  align-items: center;
  color: var(--color-primary);
}
.main span .icon-calendar {
  width: 15px;
  height: 15px;
}

aside {
  max-width: 1250px;
  margin: 70px auto 120px;
  padding: 0 15px;
}
aside .aside__title {
  color: var(--color-text);
  text-align: center;
}
aside .aside__title::after {
  display: inline-block;
  content: "(toucher pour voir le projet 👇)";
}
@media screen and (min-width: 790px) {
  aside .aside__title::after {
    content: "(cliquer pour voir le projet 👇)";
  }
}
aside .container--slideShow {
  position: relative;
}
aside .container--slideShow .link-img {
  position: relative;
  display: block;
}
aside .container--slideShow .link-img:hover img {
  filter: brightness(30%);
}
aside .container--slideShow .link-img:hover span {
  display: block;
}
aside .container--slideShow .link-img span {
  position: absolute;
  color: #bbb;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  display: none;
}
@media only screen and (max-width: 350px) {
  aside .container--slideShow .link-img span {
    font-size: 15px;
  }
}
aside .container--slideShow .link-img img {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-primary);
}
@media screen and (min-width: 790px) {
  aside .container--slideShow .link-img img {
    height: 100%;
  }
}
aside .container--slideShow .prev, aside .container--slideShow .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 8px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: var(--color-primary);
}
@media screen and (min-width: 790px) {
  aside .container--slideShow .prev, aside .container--slideShow .next {
    padding: 16px;
  }
}
aside .container--slideShow .prev:hover, aside .container--slideShow .next:hover {
  background-color: var(--color-primary-alt);
}
aside .container--slideShow .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
aside .container--slideShow .text {
  color: var(--color-text);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: -90px;
  width: 100%;
  text-align: center;
}
aside .container--slideShow .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
aside .container--dot {
  margin-top: 15px;
  text-align: center;
}
aside .container--dot .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
aside .container--dot .active, aside .container--dot .dot:hover {
  background-color: var(--color-primary);
}

.footer {
  max-width: 1250px;
  margin: 0px auto;
  padding: 15px;
  color: white;
  text-align: center;
}
.footer .icon-reseau {
  height: 100%;
  width: 100%;
}
.footer h4 {
  margin-bottom: 0;
}
.footer .reseaux {
  background-color: var(--color-primary);
  padding: 10px 0;
}
.footer .reseaux a {
  color: white;
  display: inline-block;
  margin: 10px;
  width: 25px;
  height: 25px;
}
.footer .reseaux a:hover {
  color: var(--bg-competences);
  transition: 1s;
  transform: scale(1.3);
}
.footer .emoji {
  animation-name: animation_emoji;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  display: inline-block;
}

/* =================== APPARITION AU DEFILLEMENT ==================== */
.reveal-loaded .reveal[class*=reveal-] {
  opacity: 0 !important;
  transform: translateY(10px) !important;
  transition: 0s !important;
}

.reveal-loaded [class*=reveal-] {
  transition: 2s cubic-bezier(0.5, 0, 0, 1);
}

.reveal-loaded .reveal-2 {
  transition-delay: 0.1s;
}

.reveal-loaded .reveal-3 {
  transition-delay: 0.3s;
}

.reveal-loaded .reveal-4 {
  transition-delay: 0.5s;
}

.reveal-loaded .reveal-5 {
  transition-delay: 0.7s;
}

.reveal-loaded .reveal-6 {
  transition-delay: 0.9s;
}/*# sourceMappingURL=style.css.map */