*{
    box-sizing: border-box;
}

@import "_color";

.theme-dark{
    --color-section: black;
    --color-body: rgba(16, 16, 16, 0.89);
    --color-text: rgba(255, 255, 255, 0.901);
    --color-shadow: rgba(97, 97, 97, 0.908);
    --color-bg-profil: rgb(31, 29, 29);

}


body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-body);

}

.theme-red{
    --color-primary: var(--theme-red);
    --color-primary-alt: var(--theme-red-alt);
}

.theme-green{
    --color-primary: var(--theme-green);
    --color-primary-alt: var(--theme-green-alt);
}

.theme-blue{
    --color-primary: var(--theme-blue);
    --color-primary-alt: var(--theme-blue-alt);
}

ul{
    list-style: none;
    padding: 0;
}


$breakpoints: (
  ecranSuperieurA: 790px
);

@mixin large-screen {
    @media screen and (min-width: map-get($breakpoints, ecranSuperieurA)){
        @content;
    }
}

@mixin niveau {
    background-color: var(--color-primary);
    border-radius: 20px;
}

@mixin boxShadow-section{
    box-shadow: 0px 0px 10px 0px var(--color-shadow);
}




// -------------- ANIMATION MENU -----------------

@keyframes show_menu {
    from {transform: translateX(200%);}
    to {transform: translateX(0);}
    
  }

  @keyframes animation_emoji {
    from {transform: translateY(0);}
    to {transform: translateY(-10px);}
    
  }




// -------------- HEADER STYLE-----------------

@import "_header";




// -------------- MAIN STYLE-----------------

@import "_main";





// -------------- FOOTER STYLE-----------------

@import "_footer";



/* =================== APPARITION AU DEFILLEMENT ==================== */

.reveal-loaded .reveal[class*="reveal-"]{
    opacity: 0 !important;
    transform: translateY(10px) !important;
    transition: 0s !important;
}

.reveal-loaded [class*="reveal-"]{
    transition: 2s cubic-bezier(.5, 0, 0, 1);
}

.reveal-loaded .reveal-2{
    transition-delay: .1s;
}

.reveal-loaded .reveal-3{
    transition-delay: .3s;
}

.reveal-loaded .reveal-4{
    transition-delay: .5s;
}

.reveal-loaded .reveal-5{
    transition-delay: .7s;
}

.reveal-loaded .reveal-6{
    transition-delay: .9s;
}

